<div id="alt-search" class="container-fluid">
  <div class="row jumbotron jumbotron-fluid alt-search">
    <form class="input-group col-md-6 offset-md-3">
      <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search for a TV show...">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 border" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </form>
  </div>
</div>
