<%= render 'search' %>
<div id="search-results" class="container search-content">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="popular">Search Results</h3>
    </div>
  </div>
  <%= render 'card', :results => @results %>
</div>
