/* -------------------------------- */
/* POPULAR CONTENT
/* -------------------------------- */
.index-content {
  text-align: center;
  margin-top: 100px;
}

.popular {
  margin-bottom: 50px;
}

.card {
  width: 18rem;
  margin: 30px auto;
}

button.btn.btn-outline-dark.btn-sm.m-1:focus {
  outline: none !important;
  box-shadow: none;
}

button.btn.btn-success,
button.btn.btn-warning,
button.btn.btn-danger {
  outline: none !important;
  box-shadow: none;
}

@media (max-width: 768px) {
  .index-content {
    margin-top: 50px;
  }
}
