/* -------------------------------- */
/* POPULAR CONTENT
/* -------------------------------- */
.index-content {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.popular {
  margin-bottom: 50px;
}

.card {
  width: 18rem;
  margin: 30px auto;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
  border-radius: 0;
}

span.badge.badge-pill.badge-light.my-1 {
  font-size: 14px;
  border: 1px solid #222;
}

button.btn.btn-success,
button.btn.btn-warning,
button.btn.btn-danger {
  outline: none !important;
  box-shadow: none;
}

@media (max-width: 768px) {
  .index-content {
    margin-top: 50px;
  }
}
