/* -------------------------------- */
/* SEARCH CONTENT
/* -------------------------------- */
input.form-control.py-2 {
  outline: none !important;
  box-shadow: none;
}

i.fa.fa-search:focus {
  outline: none !important;
  box-shadow: none;
}

button.btn.btn-outline-secondary.border-left-0.border:focus {
  outline: none !important;
  box-shadow: none;
}
