/* -------------------------------- */
/* TV SHOW CONTENT
/* -------------------------------- */
.tv-show {
  margin-top: 75px;
}

.tv-show-content {
  margin-bottom: 50px;
}

@media (max-width: 568px) {
  .tv-show {
    text-align: center;
  }
}
