/* -------------------------------- */
/* TV SHOW CONTENT
/* -------------------------------- */
.tv-show {
  margin-top: 75px;
}

.tv-show-content {
  margin-bottom: 50px;
}

a.btn.btn-primary.btn-sm.mb-2:focus {
  outline: none !important;
  box-shadow: none;
}

@media (max-width: 568px) {
  .tv-show {
    text-align: center;
  }
  p.overview {
    text-align: justify;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}
