<% if @result.overview.present? %>
  <span>
    <h5>Overview</h5>
    <p class="overview"><%= @result.overview %></p>
    <% if @result.homepage.present? %>
      <a class="btn btn-primary btn-sm mb-2" href="<%= @result.homepage %>" target="_blank">Start Watching</a>
    <% end %>
  </span>
<% end %>
