<% if @result.episode_run_time.present? %>
  <div class="col-sm-6 col-xl-3 my-2">
    <h5 style="text-decoration: underline"><%= 'Runtime'.pluralize(@result.episode_run_time.count) %></h5>
    <% @result.episode_run_time.take(3).each do |time| %>
      <span><%= time %> min</span><br>
    <% end %>
  </div>
<% end %>
