<% if @result.number_of_seasons != 0 %>
  <div class="col-sm-6 col-xl-3 my-2">
    <h5 style="text-decoration: underline">Series</h5>
    <span><%= @result.number_of_seasons %> <%= ' Season'.pluralize(@result.number_of_seasons) %></span><br>
    <span><%= @result.number_of_episodes %> Episodes</span>
  </div>
<% end %>
