<div id="popular" class="container index-content">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="popular">Popular TV Shows</h3>
    </div>
  </div>
  <%= render 'card', :results => @results %>
</div>
